[Unit]
Description=SmartSignal HTTP Server
After=network.target

[Service]
ExecStart=/home/espitia_dev/smartsignal/.venv/bin/python /home/espitia_dev/smartsignal/main.py
WorkingDirectory=/home/espitia_dev/smartsignal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
